.btn1{
    width: 100%;
    padding:0 1em;
    background-color: $log-in;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    color: white;
}
.btn2{
    width:70%;
    padding-top:0px 16px;
    background-color: $btn-color;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    color: white;
    margin-top: 1em;
}
