$font-stack:Arial, Helvetica, sans-serif;
$light-color:#f4f4f4;
$primary-color:rgb(28, 30, 33);
$btn-color:rgb(66, 183, 42);
$log-in:rgb(24, 119, 242);
$secondary-color:rgb(138, 141, 145);
$section-color:rgb(240, 242, 245);
